<div class="row">
  <div class="resizable column" style="margin-top: 5%">
    <h3>A Few Good Engineers</h3>
    <div id="jump">List of engineers who have volunteered to be part of the Support Wheel Of Fame ;-)</div>
    <p>Filter enginers by lastname, firstname and employeeID. Sort engineers by lastname, firstname, employeeID. See shifts worked by engineer in the past. Find out what shifts an engineer is scheduled for in the future.</p>
  </div>
</div>
<!-- ENGINEER LIST -->
<div id="engineer-list" class="row">
    <!-- LOOP OVER THE engineer IN $scope.engineers -->
    <table>
      <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Date Of Birth</th>
        <th>Work Start Date</th>
      </tr>
      <tbody ng-repeat="engineer in engineers.data | filter:query as filtered">
        <tr>
          <td>{{engineer.empid}}</td>
          <td>{{engineer.fname}}</td>
          <td>{{engineer.lname}}</td>
          <td>{{engineer.gender}}</td>
          <td>{{engineer.dob | date: 'dd/MM/yy'}}</td>
          <td>{{engineer.start | date: 'dd/MM/yy'}}</td>
          <td><a ng-click="editEngineer(engineer.id)" class="button" >edit</a></td>
          <td><a ng-click="deleteEngineer(engineer.id)" class="button button-primary">schedule</a></td>
        </tr>
      </tbody>
    </table>
    <p ng-cloak>Records returned = {{filtered.length}}</p>
  </div>
  <hr></hr>
  <p></p>
