    <div class="row">
      <div class="resizable column" style="margin-top: 5%">
        <h4>Work! Work! Work! Work! Work!</h4>
        <p>See when an engineer was, is and will be scheduled in the future. The default schedule provided is for the current period. You can select an alternative period by selecting the year and period number below.</p>
        <form name="scheduleRetrieve">
          <select ng-model="selectedYear" ng-options="x for x in years"></select>
           Period (1-26):
          <input ng-model="selectedPeriod" type="number" name="period" min="1" max="26">
          <br></br>
          <input type="submit" value="Retrieve" ng-click="getSchedule()">
        </form>
      </div>
    </div>
		<!-- schedule LIST -->
		<div id="schedule-list" class="row">
        <!-- LOOP OVER THE schedule IN $scope.schedules -->
        <table class="inline">
          <tr>
            <th>Employee ID</th>
            <th>Date</th>
            <th>Shift</th>
          </tr>
          <tbody ng-repeat="schedule in schedules.data | filter:query as filtered">
            <tr ng-cloak>
              <td>{{schedule.empid}}</td>
              <td>{{schedule.date | date: 'dd/MM/yy'}}</td>
              <td><i class="fa" ng-class="{'fa-hourglass-start':schedule.shift==0,'fa-hourglass-end':schedule.shift==1}"></i></td>
            </tr>
          </tbody>
        </table>
        <p ng-cloak>Records returned = {{filtered.length}}</p>
        <p><b>Note:</b> Morning shift (08:00-12:30) indicated by <i class="fa fa-hourglass-start" aria-hidden="true"></i> and afternoon shift (12:30-17:00) indicated by <i class="fa fa-hourglass-end" aria-hidden="true"></i> </p>
      </div>
      <hr></hr>
      <h3 id="#create">Generate</h3>
      <h4>Generate schedule for future periods</h4>
      <div id="create">Select year and week start period to generate a schedule for future support slots. Previously generated values will be lost. You cannot generate  a scheule for periods in the past or the current period we are in.</div>
      <form name="scheduleGenerate">
        <select ng-model="selectedYear" ng-options="x for x in years"></select>
         Period (1-26):
        <input ng-model="selectedPeriod" type="number" name="period" min="1" max="26">
        <br></br>
        <input type="submit" value="Generate" ng-click="genSchedule()">
      </form>
      <hr></hr>
