<br>
<h3>Work! Work! Work! Work! Work!</h3>
<p>See when an engineer was, is and will be scheduled in the future. The default schedule provided is for the current period. You can select an alternative period by selecting the year and period number below.</p>
<br>
<div ng-controller="scheduleCalendarDisplay as vm">
 <h2 class="text-center">{{ vm.calendarTitle }}</h2>
 <div class="row">
   <div class="col-md-6 text-center">
     <div class="btn-group">
       <button
         class="btn btn-primary"
         mwl-date-modifier
         date="vm.viewDate"
         decrement="vm.calendarView"
         ng-click="vm.cellIsOpen = false">
         Previous
       </button>
       <button
         class="btn btn-default"
         mwl-date-modifier
         date="vm.viewDate"
         set-to-today
         ng-click="vm.cellIsOpen = false">
         Current
       </button>
       <button
         class="btn btn-primary"
         mwl-date-modifier
         date="vm.viewDate"
         increment="vm.calendarView"
         ng-click="vm.cellIsOpen = false">
         Next
       </button>
     </div>
   </div>
   <br class="visible-xs visible-sm">
   <div class="col-md-6 text-center">
     <div class="btn-group">
       <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
       <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
       <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
       <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
     </div>
   </div>
 </div>
 <br>
 <mwl-calendar
   events="vm.events"
   view="vm.calendarView"
   view-title="vm.calendarTitle"
   view-date="vm.viewDate"
   on-event-click="vm.eventClicked(calendarEvent)"
   on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
   cell-is-open="vm.cellIsOpen"
   day-view-start="06:00"
   day-view-end="22:59"
   day-view-split="30"
   cell-modifier="vm.modifyCell(calendarCell)"
   cell-auto-open-disabled="true"
   on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
 </mwl-calendar>
 <br>
</div>
<h3>Generate</h3>
<h4>Generate schedule for future periods</h4>
<p>Select year and week start period to generate a schedule for future support slots. Previously generated values will be lost. You cannot generate  a scheule for periods in the past or the current period we are in.</p>
        <form name="scheduleGenerate">
          <select ng-model="selectedYear" ng-options="x for x in years"></select>
           Start Week (1-51 [odd numbers]):
          <input ng-model="selectedPeriod" type="number" name="genperiod" placeholder="1" min="1" max="51" step="2" onkeydown="return false">
          <input type="button" class="click" id="click" value="Generate" ng-click="genSchedule()">
          <label class="control-label">  {{ genScheduleResponse }}</label>
        </form>
</div>
