<br>
<h3>Work! Work! Work! Work! Work!</h3>
<p>See when an engineer was, is and will be scheduled in the future. The default schedule provided is for the current period. You can select an alternative period by selecting the year and period number below.</p>
<br>
<div class="container">
  <form name="scheduleRetrieve">
    <select ng-model="selectedYear" ng-options="x for x in years"></select>
    Start Week (1-51 [odd numbers]):
    <input ng-model="selectedPeriod" type="number" name="getperiod" min="1" max="51" step="2">
    <input type="submit" value="Get" ng-click="getSchedule()">
  </form>
</div>
<div class="container">
  <div id="schedule-list" class="row">
    <table ng-cloak class="inline">
      <span class="col-md-3">
        <i>Search Schedules :</i>
        <input type="text" class="form-control ng-valid ng-dirty" ng-model="searchKeyword" style="width: 355px;">
      </span>
      <tr>
        <th><a href="" ng-click="orderByField='empid'; reverseSort = !reverseSort">Employee ID</a></th>
        <th><a href="" ng-click="orderByField='date'; reverseSort = !reverseSort">Date</a></th>
        <th>Shift</th>
      </tr>
      <tbody ng-repeat="schedule in (filtered = (schedules.data | filter: query | filter: searchKeyword | orderBy: orderByField:reverseSort))">
        <tr ng-cloak>
          <td>{{schedule.empid}}</td>
          <td>{{schedule.date | date: 'dd/MM/yy'}}</td>
          <td><i class="fa" ng-class="{'fa-hourglass-start':schedule.shift==0,'fa-hourglass-end':schedule.shift==1}"></i></td>
        </tr>
      </tbody>
    </table>
    <p ng-cloak>Records returned = {{filtered.length}}</p>
    <p><b>Note:</b> Morning shift (08:00-12:30) indicated by <i class="fa fa-hourglass-start" aria-hidden="true"></i> and afternoon shift (12:30-17:00) indicated by <i class="fa fa-hourglass-end" aria-hidden="true"></i> </p>
  </div>
  <hr></hr>
  <h3>Generate</h3>
  <h4>Generate schedule for future periods</h4>
  <p>Select year and week start period to generate a schedule for future support slots. Previously generated values will be lost. You cannot generate  a scheule for periods in the past or the current period we are in.</p>
        <form name="scheduleGenerate">
          <select ng-model="selectedYear" ng-options="x for x in years"></select>
           Start Week (1-51 [odd numbers]):
          <input ng-model="selectedPeriod" type="number" name="genperiod" min="1" max="51" step="2">
          <input type="submit" value="Generate" ng-click="genSchedule()">
        </form>
</div>
<div ng-controller="KitchenSinkCtrl as vm">
 <h2 class="text-center">{{ vm.calendarTitle }}</h2>

 <div class="row">

   <div class="col-md-6 text-center">
     <div class="btn-group">

       <button
         class="btn btn-primary"
         mwl-date-modifier
         date="vm.viewDate"
         decrement="vm.calendarView"
         ng-click="vm.cellIsOpen = false">
         Previous
       </button>
       <button
         class="btn btn-default"
         mwl-date-modifier
         date="vm.viewDate"
         set-to-today
         ng-click="vm.cellIsOpen = false">
         Today
       </button>
       <button
         class="btn btn-primary"
         mwl-date-modifier
         date="vm.viewDate"
         increment="vm.calendarView"
         ng-click="vm.cellIsOpen = false">
         Next
       </button>
     </div>
   </div>

   <br class="visible-xs visible-sm">

   <div class="col-md-6 text-center">
     <div class="btn-group">
       <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
       <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
       <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
       <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
     </div>
   </div>

 </div>

 <br>

 <mwl-calendar
   events="vm.events"
   view="vm.calendarView"
   view-title="vm.calendarTitle"
   view-date="vm.viewDate"
   on-event-click="vm.eventClicked(calendarEvent)"
   on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
   cell-is-open="vm.cellIsOpen"
   day-view-start="06:00"
   day-view-end="22:59"
   day-view-split="30"
   cell-modifier="vm.modifyCell(calendarCell)"
   cell-auto-open-disabled="true"
   on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
 </mwl-calendar>

 <br><br><br>

 <h3 id="event-editor">
   Edit events
   <button
     class="btn btn-primary pull-right"
     ng-click="vm.addEvent()">
     Add new
   </button>
   <div class="clearfix"></div>
 </h3>

 <table class="table table-bordered">

   <thead>
     <tr>
       <th>Title</th>
       <th>Primary color</th>
       <th>Secondary color</th>
       <th>Starts at</th>
       <th>Ends at</th>
       <th>Remove</th>
     </tr>
   </thead>

   <tbody>
     <tr ng-repeat="event in vm.events track by $index">
       <td>
         <input
           type="text"
           class="form-control"
           ng-model="event.title">
       </td>
       <td>
         <input class="form-control" colorpicker type="text" ng-model="event.color.primary">
       </td>
       <td>
         <input class="form-control" colorpicker type="text" ng-model="event.color.secondary">
       </td>
       <td>
         <p class="input-group" style="max-width: 250px">
           <input
             type="text"
             class="form-control"
             readonly
             uib-datepicker-popup="dd MMMM yyyy"
             ng-model="event.startsAt"
             is-open="event.startOpen"
             close-text="Close" >
           <span class="input-group-btn">
             <button
               type="button"
               class="btn btn-default"
               ng-click="vm.toggle($event, 'startOpen', event)">
               <i class="glyphicon glyphicon-calendar"></i>
             </button>
           </span>
         </p>
         <div
           uib-timepicker
           ng-model="event.startsAt"
           hour-step="1"
           minute-step="15"
           show-meridian="true">
         </div>
       </td>
       <td>
         <p class="input-group" style="max-width: 250px">
           <input
             type="text"
             class="form-control"
             readonly
             uib-datepicker-popup="dd MMMM yyyy"
             ng-model="event.endsAt"
             is-open="event.endOpen"
             close-text="Close">
           <span class="input-group-btn">
             <button
               type="button"
               class="btn btn-default"
               ng-click="vm.toggle($event, 'endOpen', event)">
               <i class="glyphicon glyphicon-calendar"></i>
             </button>
           </span>
         </p>
         <div
           uib-timepicker
           ng-model="event.endsAt"
           hour-step="1"
           minute-step="15"
           show-meridian="true">
         </div>
       </td>
       <td>
         <button
           class="btn btn-danger"
           ng-click="vm.events.splice($index, 1)">
           Delete
         </button>
       </td>
     </tr>
   </tbody>

 </table>
</div>
