<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="swof">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>swof</title>

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/swof.css">

  <link rel="icon" type="image/png" href="../images/favicon.png">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script src="../core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS WITH INITIALIZE FUNCTION -->

<body ng-controller="scheduleController">

	<div class="container">
		<h1>Support Schedule</h1>
		<div class="topnav" id="myTopnav">
			<a class="active" href="#read">Read</a>
			<a href="#create">Create</a>
			<a href="#delete">Delete</a>
			<a href="#guide">Help!</a>
		</div>
    <div class="row">
      <div class="resizable column" style="margin-top: 5%">
        <h4>Work! Work! Work! Work! Work!</h4>
        <div id="#read">See when an engineer was, is and will be scheduled in the future</div>
				<p>Filter schedule by day, week, month, year. See completed schedule. See current schedule. Filter unstarted schedules. Re-schedule an unstarted schedule.</p>
			</div>
    </div>
		<!-- schedule LIST -->
		<div id="schedule-list" class="row">
        <!-- LOOP OVER THE schedule IN $scope.schedules -->
        <table>
          <tr>
						<td>
							<a href="#" ng-click="sortReverse = !sortReverse">
								EmployeeID
								<span ng-show="sortType == 'empid'" class="fa fa-caret-down"></span>
							</a>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'date'">
								Date
								<span ng-show="sortType == 'date'" class="fa fa-caret-down"></span>
							</a>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'shift'">
								Shift
								<span ng-show="sortType == 'shift'" class="fa fa-caret-down"></span>
							</a>
						</td>

          </tr>
          <tbody ng-repeat="schedule in schedules | orderBy:sortType:sortReverse">
            <tr>
              <td>{{schedule.empid}}</td>
              <td>{{schedule.date | date: 'dd/MM/yy'}}</td>
              <td>{{schedule.shift}}</td>
            </tr>
          </tbody>
        </table>
      </div>
			<hr></hr>
			<h3 id="#create">Create</h3>
			<h4>Make A Hero</h4>
			<div id="create">Add a new schedule to the team who will provide customer support</div>
			<hr></hr>
			<h3 >Delete</h3>
			<h4>Time To Go</h4>
			<div id="delete">Remove an schedule who will no longer  be able to provide support. Parting is such sweet sorrow!</div>
			<hr></hr>
			<h3 id="#guide" >Guide</h3>
			<h4>What Is The Situation?</h4>
			<div id="guide">A guide about schedule and how they provide support</div>

    </div>


		<scrpit src="app.js"></script>
</body>
</html>
